.filterContainer {
  display: flex;
  width: 100%;
  gap: 16px;
}

.searchBar {
  flex: 1;
}

.filterButton {
  width: fit-content; 
  flex-shrink: 0; 
}

.nameLink {
  font-weight: 600;
  color: #0061FF;
}

.backLink {
  display: flex;
  align-items: center;
  border-bottom: #0061FF 1px solid;
  color: #0061FF;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  width: fit-content;
}

.backLinkIcon {
  margin-right: 4px;
}