.pageHeader {
    width: 100%; 
    background-color: #F2F7FF;
  }

  .pageHeader2 {
    min-height: 300px; 
    height: auto;
    max-height: 40vh;
    width: 100%; 
    background-color: #F2F7FF;
  }

  .headerIcon {
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 0;
  }
  
  @media (max-width: 992px) {
    .pageHeader2 {
      min-height: 320px; 
      max-height: 40vh;
    }
  }

  @media (max-width: 576px) {
    .pageHeader2 {
      min-height: 256px; 
    }
  }
  
  .logoCard { 
    margin-top: -50px; 
  }
