.searchContainer {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.searchWrapper {
   padding-top: 5%;
}

@media (max-width: 576px) {
    .searchWrapper {
        padding-top: 2%;
     }
  }